<style media="screen">
form{
  width: 200px;
}
input[tué="text"],span{
  display: block;
  width: 100px;
}
div{
  float: left;
}
.listado{
  margin-left: 30px;
}
</style>
<h1>Componente de Carros</h1>
<div >
<form #formCarro="ngForm" (ngSubmit)="onSubmit(); formCarro.reset()" style="width: 200px;">
<p>
  <label>Nombre: </label>
  <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="carro.nombre" required>
    <span *ngIf="nombre.touched && !nombre.valid">
      El nombre del Carro es Incorrecto!!
    </span>
</p>
<p>
  <label>Caballos: </label>
  <input type="text" name="caballos" #caballos="ngModel" [(ngModel)]="carro.caballos" required pattern="[0-9]+">
  <span *ngIf="caballos.touched && !caballos.valid">
    Los caballos del Carro es Incorrecto!!
  </span>
</p>
<p>
  <label>Color: </label>
  <input type="text" name="color" #color="ngModel" [(ngModel)]="carro.color" required pattern="[a-zA-Z#]+">
  <span *ngIf="color.touched && !color.valid">
    El Color del Carro es Incorrecto!!
  </span>
</p>

  <input type="submit" value="Guardar" [disabled]="!formCarro.form.valid">
</form>
</div>



<div class="listado">
  <h4>Listado de Carros</h4>
  <ul>
    <li *ngFor="let carro of carros">
        {{carro.nombre}} - {{carro.caballos}} - {{carro.color}}
    </li>
  </ul>
</div>
<div class="listado">
<h3>Listado de Articulos</h3>
<ul *ngIf="articulos">
  <li *ngFor="let articulo of articulos">
      {{articulo.id}} - {{articulo.title}}
  </li>
  <span *ngIf="!articulos">Cargando....</span>
</ul>
</div>
